$main-d-color: rgb(66, 72, 89);
$main-d-subcolor: #a1a7b0;


$confirm-color--soft: rgb(238, 246, 225);
$deny-color--soft: rgb(254, 223, 229);
$default-color--soft: red;
.d {
  &--title {
    font-family: $main-font;
    color: $main-d-color;

    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  &--subtitle {
    font-family: $secundary-font;
    color: $main-d-subcolor;
    font-weight: 600;
    font-size: 18px !important;
  }
  &--text {
    font-family: $secundary-font;
    color: $main-d-subcolor;
    font-size: 17px !important;
  }
  &--thick {
    font-weight: 700;
  }
  &--block {
    display: block;
  }
}

.dashboard {
  &__headtag {
    .badge, .content {
      display: inline-block;
      vertical-align: middle;
    }
    .badge {
      width: 65px;
      height: 65px;
      border-radius: 3px;
      position: relative;
      margin-right: 35px;
      &--brand-color-1 {
        background-color: $brand-color-3;
        i {
          position: absolute;
          top: 50%; left: 50%;
          @include translate(-50%, -50%);
          font-size: 30px;
          color: white;
          font-weight: 800;
        }
      }
    }

    .content {

      &__title {
        font-family: $main-font;
        font-weight: 700;
        color: rgb(66, 72, 89);
        font-size: 20px;
        display: block;
        margin-bottom: 5px;
      }
      &__subtitle {
        display: block;
        font-size: 18px !important;
        font-family: $secundary-font;
        font-weight: 600;
        color: rgb(177, 179, 183);
      }
    }

  }

  &__board {
    position: relative;
    padding: 30px;
    background: #fff;
    @include box-shadow(0 10px 30px 0 rgba(67,80,98,.08), 0 2px 4px 0 rgba(67,80,98,.08));
  }
  &__person, &__item {
    position: relative;
    .avatar, .content, .badge {
      display: inline-block;
      vertical-align: middle;
    }
    .avatar {
      width: 100%;
      max-width: 35px;
      display: inline-block;
      margin-right: 15px;
      img {
        height: auto;
        max-width: 100%;
        border-radius: 5px;
      }
    }
    .badge {
      width: 49px;
      height: 40px;
      border-radius: 3px;
      position: relative;
      margin-right: 35px;
      background-color: rgba(255, 255, 255, 0);
        i {
          position: absolute;
          top: 50%; left: 50%;
          @include translate(-50%, -50%);
          font-size: 35px;
          color: rgb(221, 221, 221);

        }

    }
    .badge__img {
      width: 65px;
      height: 65px;
      border-radius: 3px;
      position: relative;
      margin-right: 35px;
      display: inline-block;
      padding: 5px;
      img {
        object-fit: contain;
        max-width:100%;
        max-height:100%;
      }

    }
    .content {

      &__name {
        font-family: $secundary-font;
        font-weight: 700;
        color: rgb(89, 95, 111);
        font-size: 1px;
        display: block;
        margin-bottom: 0px;
      }
      &__riziv, &__text {
        display: block;
        font-family: $secundary-font;
        font-weight: 300;
        color: rgb(177, 179, 183);
      }
    }

    .buttons {
      position: relative;
      top: 50%;
      a {
        color: rgb(177, 179, 183);
        font-size: 1.2em;
        margin-right: 10px;
        font-weight: 700;
        &.confirm {
          &:hover {
            color: $confirm-color--soft;
          }
        }
        &.deny {
          &:hover {
            color: $deny-color--soft;
          }
        &.default {
          &:hover {
            color: $deny-color--soft;
          }
        }
        }
      }
      i {


      }
    }

  }
  &__divider {

    display: block;
    height: 3px;
    background-color: rgb(244, 244, 244);
    &--small {
      width: 25%;
    }
    &--full {
      width: 100%;
    }
  }

  &__l-border {
    padding-left: 20px;
    &--color-1 {
      border-left: 5px solid $brand-color-3;
    }
  }
}
