.notification_bell {
  position: relative;
 &__amount {
   color: white;
   font-family: $main-font;
   position: absolute;
   top: 0;
   right: 0;
   border-radius: 50%;

 }
}

.notification-bell {
  position: relative;
  &::after {
    content: attr(data-count);
    display: block;
    position: absolute;
    font-family: $main-font;
    color: #FFFFFF;

    top: -5px;
    right: -20px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
    background-color: $brand-color-2;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }

}
