.in-and-out {
  min-height: 510px;
}
.in-and-out-add + .in-and-out {
  visibility: hidden;
  display: none;
}

.in-and-out + .in-and-out {
  visibility: hidden;
  display: none;
}
/* Contact Multidimensional Form */
.in-and-out {
  // -webkit-transition: all 1000ms; /* Safari/Chrome */
  // transition: all 1000ms;
  &
  &.ng-leave, &.ng-enter {


  }
  &
  &.ng-leave, &.ng-leave-prepare {
    // visibility: hidden;
  }

  &.ng-enter {
    // opacity: 0;
    // &-active {
    //   opacity: 0;
    // }
  }
  // &.ng-leave {
  //   visibility: hidden;
  //   &-active {
  //     visibility: hidden;
  //   }
  // }

}
@include keyframes(slideInFromBottom) {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 150, 0, 1); visibility: visible;}
  5.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 85.004, 0, 1); }
  10.71% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 45.472, 0, 1); }
  16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.062, 0, 1); }
  21.42% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.577, 0, 1); }
  32.13% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.353, 0, 1); }
  42.84% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.935, 0, 1); visibility: visible;}
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); visibility: visible;}
}

@include keyframes(slideInFromRightWBounce) {
  0% {
    opacity: 0;
    @include translateX(50%);
  }
  100% {
    opacity: 1;
    @include translateX(0%);
  }
}




/* Animation for input validation */

@include keyframes(inputInvalid) {

  0% {
    background-position: right -10px center;
  }
  100% {
    background-position: right 10px center;
  }
}
@include keyframes(inputInvalidRemove) {

  0% {
    background-position: right 10px center;

  }
  100% {
    background-position: right -10px center;
  }
}

/* Animation Sequence */
@keyframes seq1 {
  from { opacity: 0; }
  to   {
    opacity: 1;
    top: 0;
  }
}
@-moz-keyframes seq1 {
  from { opacity: 0; }
  to   {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes seq1 {
  from { opacity: 0; }
  to   {
    opacity: 1;
    top: 0;
  }
}



/* Animations for dashboard */
.dashboard-item-animated {
  visibility: hidden;
  &--1 {
    &.slide-in-from-bottom {
      @include animation(0.5s, 2s, slideInFromBottom, linear);
    }
  }
  &--2 {
    &.slide-in-from-bottom {
      @include animation(0.7s, 2s, slideInFromBottom, linear);
    }
  }
  &--3 {
    &.slide-in-from-bottom {
      @include animation(1s, 2s, slideInFromBottom, linear);
    }
  }
}
