.in-and-out {
  min-height: 510px;
}
.in-and-out-add + .in-and-out {
  visibility: hidden;
  display: none;
}

.in-and-out + .in-and-out {
  visibility: hidden;
  display: none;
}
/* Contact Multidimensional Form */
.in-and-out {
  // -webkit-transition: all 1000ms; /* Safari/Chrome */
  // transition: all 1000ms;
  &
  &.ng-leave, &.ng-enter {


  }
  &
  &.ng-leave, &.ng-leave-prepare {
    // visibility: hidden;
  }

  &.ng-enter {
    // opacity: 0;
    // &-active {
    //   opacity: 0;
    // }
  }
  // &.ng-leave {
  //   visibility: hidden;
  //   &-active {
  //     visibility: hidden;
  //   }
  // }

}


@include keyframes(slideInFromRightWBounce) {
  0% {
    opacity: 0;
    @include translateX(50%);
  }
  100% {
    opacity: 1;
    @include translateX(0%);
  }
}




/* Animation for input validation */

@include keyframes(inputInvalid) {

  0% {
    background-position: right -10px center;
  }
  100% {
    background-position: right 10px center;
  }
}
@include keyframes(inputInvalidRemove) {

  0% {
    background-position: right 10px center;

  }
  100% {
    background-position: right -10px center;
  }
}

/* Animation Sequence */
@keyframes seq1 {
  from { opacity: 0; }
  to   {
    opacity: 1;
    top: 0;
  }
}
@-moz-keyframes seq1 {
  from { opacity: 0; }
  to   {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes seq1 {
  from { opacity: 0; }
  to   {
    opacity: 1;
    top: 0;
  }
}
