.btn {
    font-family: $text-font;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin-bottom: 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none !important;
    background-color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s, border-color 0.1s linear 0s!important;
    &--ghst {
      padding: 15px 35px;
      color: white;
      background-color: transparent;
      border-color: white;
      border-radius: 0;
      border-width: 3px;
      display: inline-block;
      transition: all 0.2s;
      &:hover {
        background-color: white;
      }
      &--inv {
        color: black;
        border-color: black;
        &:hover {
          border-color: #e37774;
          color: white;
          background-color: #e37774;
        }
      }
    }
    &--frm {
      display: inline-block;;
      width: auto;
      text-align: center;
      padding: 12px 25px;
      font-family: $secundary-font;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      color: #fff;
      border-radius: 2px;
      background: #27c79a;
      cursor: pointer;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
      &[disabled*='disabled'] {
        color: #e3e9ec;
        background-color: #f7f9fa;
        pointer-events: none;
      }
    }
    &--block {
      display: block;
      width: 100%;
    }

}
