.card {

  &--icon {
    min-height: 300px;
    background-color: white;
    width: 100%;
    position: relative;

    padding: 40px;
  }
  &--full-height {
    height: 100%;
  }
  &--shdw {
    // @include box-shadow( 0 10px 30px 0 rgba(67,80,98,.08), 0 2px 4px 0 rgba(67,80,98,.08));
    @include box-shadow(0 0 100px rgba(0,0,0,.05));
  }
  &__title {
    color: #404040;
    font-size: 20px;
    font-family: $secundary-font;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;


  }
  &__text {
    color: #a1a7b0;
    font-family: $secundary-font;
    letter-spacing: .15px;
    font-size: 18px;
    display: block;
  }
  &__image {
    img {
      display: block;
      width: 75% !important;
      height: auto !important;
      margin: 0 auto;
    }
  }
}


.icon-card {
  background: white;
  position: relative;
  height: 100%;
  @include box-shadow (0 9px 20px 0 rgba(153,170,181,.1));
  padding: 50px 35px 35px 35px;
  max-width: 345px;
  margin: auto;
  display: block;

  &__image {
    padding: 0px 50px;
    width: 100%;
    height: 100px;
    img {
      height: auto;
      width: 100%;
      display: block;
      margin: auto;
    }
  }
  &__title, &__text {
    font-family: $main-font;
    display: block;
    text-align: center;

  }
  &__title {
    margin-top: 35px;
    margin-bottom: 15px;
    color: #65696c;
    font-weight: 600;
  }
  &__text {
    font-weight: normal;
    font-size: 16px;
    color: #65696c;
  }
  &--bounce-up {
    @include transition(transform .2s cubic-bezier(.175,.885,.32,1.275));
    &:hover {
      @include box-shadow (0 12px 30px 0 rgba(153,170,181,.1));
      @include translateY(-10px);
    }
  }
}
