.c-container {
  width: calc(100% - 110px);
  margin: auto;
  position: relative;
  display: block;
  padding: 0;
}

.g-container {
  padding-left: rem-calc(56px) !important;
  position: relative;
}

.s-container {
  padding-left: 35px !important;
  margin-left: rem-calc(56px) !important;
  position: relative;
  &--no-p {

    padding-left: 0px !important;
    margin-right: rem-calc(135px);
  }
}


.full-width-container {
  width: 100vw;
  position: relative;
  overflow: visible;
  &--w-shapes-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    &::after {
      content: ' ';
      position: absolute;
      z-index: -1;
      background: url('../../img/big-yellow-circle.svg') no-repeat center center;
      background-size: contain;
      width: 60%;
      height: 70%;
      right: -500px;
      top: 50%;
      @include translateY(-50%);
    }
    &::before {
      content: ' ';
      position: absolute;
      z-index: -1;
      background: url('../../img/big-blue-circle.svg') no-repeat center center;
      background-size: contain;
      width: 30%;
      height: 30%;
      left: -150px;
      top: 75%;
      @include translateY(-75%);
    }
    div[class*='-container'] {
      background-color: white;
    }
  }
}


.full-screen-container {
  position: relative;
  width: 100vw;
  left: 0;
  top: 0;
  height: calc(100vh - 88px);
  overflow: hidden;
  transition: background-position .5s ease-in-out;
  background-size: 176.28111vw 143.24012vw;
  background: url('../../img/colored-background-supersized.svg') no-repeat 20px;

  &--w-centered-content {
    padding: 10vh 0;
  }
  &.state-1 {
    background-position: 20vw 40vh;
  }
  &.state-2 {
    background-position: -30vw -30vh;
  }
  &.state-3 {
    background-position: center center;
  }
}
