footer {
  // padding-left: 2.5rem;
  // padding-right: 2.5rem;
  // background-color: rgb(195, 195, 195);
  margin-top: 200px;
  .footer__left {
    position: relative;
    padding: 15px 0 15px 0;
    padding-left: 2.5rem !important;
    background-color: rgb(237, 237, 237);
  }
  .footer__left, .footer__right {

  }
  &.invisible {
    display: none;
  }
  .footer {

    &__social-media {
      padding: 15px 0;
      i {
        cursor: pointer;
        height: 25px; width: 25px;
        display: block;
        margin-left: auto; margin-right: auto;
        transition: all 0.3s;
        &:first-of-type {
          margin-bottom: 15px;
        }
        &:hover {
          transform: rotate(15deg);
        }
      }
    }
    &__branding {
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      width: auto;
      height: 35px;
      margin-left: 16px;
      img {
        // object-fit: contain;
      }
    }
    &__links {
      font-family: $brand-font;
      letter-spacing: 1px;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      right: 40px;
    }
  }
}
