.input--stnrd {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #e3e9ec;
  // border-radius: 5px;
  padding: 8px 20px;
  padding-right: 30px;
  padding-top: 12px;
  font-family: $secundary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #435062;
  height: auto;
  box-shadow: none;
  overflow: hidden;
  // -webkit-transition: 0.5s background-position cubic-bezier(.87,-.41,.19,1.44);
  // transition: 0.5s background-position cubic-bezier(.87,-.41,.19,1.44);


  background: url('../../img/icons/invalid-bullt.svg') no-repeat;
  background-size: 10px 10px;;
  background-position: right -10px center;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #a1a7b0;
  }
  // &.ng-dirty:not(.ng-pristine) {
  //   @include animation(0s, 0.5s, inputInvalidRemove, cubic-bezier(.87,-.41,.19,1.44) );
  // }
  &.ng-invalid.ng-dirty {
    border-color: $brand-color-1--soft;
    @include animation(0s, 0.5s, inputInvalid, cubic-bezier(.87,-.41,.19,1.44) );

    // -webkit-transition: 0.5s background-position cubic-bezier(.87,-.41,.19,1.44);
    // transition: 0.5s background-position cubic-bezier(.87,-.41,.19,1.44);
    // background-position: right 10px center;
  }
  &.invalid, &.error {
    border-color: $brand-color-1--soft;
    @include animation(0s, 0.5s, inputInvalid, cubic-bezier(.87,-.41,.19,1.44) );
  }
}


.response-container {
  position: relative;
  min-height: 75px;
}
.error-block {
  transition: 0.5s all cubic-bezier(.87,-.41,.19,1.44);
  position: absolute;
  width: 100%;
  border: none;

  // background-color: $brand-color-2--soft;
  padding: 25px 15px 25px 0px;

  &__message {
    border-left: 4px solid $brand-color-2;
    padding-left: 25px;
    display: block;
    color: $brand-color-2;
    font-family: $secundary-font;
    font-weight: 600;
  }
  opacity: 0;
  @include translateX(50%);
  &--slide-in {
    transition: 4s all cubic-bezier(.87,-.41,.19,1.44);
    @include animation(0s, 1s, slideInFromRightWBounce, cubic-bezier(.87,-.41,.19,1.44));
  }
}
