.mixed-jumbo {
  padding: rem-calc(75px 0px);

  &__content {
    position: relative;
    z-index: 10;
    @include headings {
      font-size: rem-calc(72);
      font-family: $jumbotron-font;
    }
  }
  &__background {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgb(252, 170, 149);
    z-index: 5;
  }


  /*** Effects ***/
  &--shaped {
      &::after {
        content: ' ';
        position: absolute;

        right: 0;
        height: 75px;
        width: 75px;
        background: url('../../img/mixed-jumbo-shape-altie.svg') no-repeat;
        background-size: contain;
      }
    }
}
