.search {
  font-size: 1.5rem;
  &__search-block {
    background: white;
    position: relative;
    box-shadow: 0 9px 20px 0 rgba(153, 170, 181, 0.1) !important;
    padding: 50px 35px 35px 35px;

    margin: auto;
    display: block;
    min-height: 400px;
    font-size: 20px;
    label {
      &.main-label {
        font-family: $main-font;
        color: rgb(10, 10, 10);
        font-size: 1em;
        span {
          position: relative;
          &.highlight {
            &::after {
              z-index: -1;
              position: absolute;
              bottom: 7px;
              left: -5px;
              display: block;
              width: calc(100% + 10px);
              height: 15px;
              background: #ffe07a;
              content: '';
            }
          }
        }
      }
      &.sub-label {
        font-size: 0.8em;
      }
    }
  }
  &__map-block {

  }
  &__input-label {
    font-size: 1em !important;

    span {
      position: relative;

    }
  }
  &__input-sublabel {
    font-size: 0.5em !important;
  }
}

.angular-google-map-container {
  height: 400px;
  img {
    max-width: none !important;
  }
}

  #map-canvas {
    height: 600px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  #map-canvas img {

  }
