<form ng-if="contact.user.practiceStatus == 'new'" name='therapistPracticeInfoNewSignupForm' class="form-block__inner"  ng-cloak>
  <div class="row">
    <div class="large-12 columns">
      <h2 class='t--semi-bold text-center'>Registratie van uw <span class='highlight highlight--color-1'>praktijk</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>We zetten hem meteen in het systeem. </h3>
    </div>
  </div>
  <div class="row m-b-40">
    <div class="large-12 columns">
      <div id="locationField">
      <input id="autocomplete" class='input--stnrd' placeholder="Enter your address" ng-init='contact.googleHandlers.initAutocomplete()' type="text"></input>
      </div>
    </div>
  </div>
  <div id="address" class="row  medium-collapse">
    <div class="large-5 columns">
      <div class="row">
        <div class="medium-12 columns">
            <input id='name' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.name' placeholder="Praktijknaam" autocomplete="off" required >
        </div>
        <div class="medium-12 columns">
            <input id='telephone' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.telephone' placeholder="Telefoonnummer" autocomplete="off" restrict="reject" mask="(99)99 99 99 99" required >
        </div>
      </div>
    </div>
    <div class="large-7 columns">
      <div class="medium-8 columns">
          <input id='route' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.route' placeholder="Straatnaam" autocomplete="off" required >
      </div>
      <div class="medium-4 columns">
          <input id='street_number' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.street_number' placeholder="Nr." autocomplete="off" required >
      </div>
      <div class="medium-6 columns">
          <input id='locality' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.locality' placeholder="Gemeente" autocomplete="off" required >
      </div>
      <div class="medium-6 columns">
          <input id='postal_code' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.postal_code' placeholder="Zipcode" autocomplete="off" required >
      </div>
    </div>

  </div>


</form>
