
<form name='therapistPersonalSignupForm'  class='form-block__inner' >
  <div class="row">
    <div class="large-12 columns">

      <h2 class='t--semi-bold text-center'>Registratie voor <span class='highlight highlight--color-1'>logopediste</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>Uw persoonlijke gegevens </h3>
    </div>
  </div>
  

  <div class="row">
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.state.datatosend.user.firstname' placeholder="Voornaam" autocomplete="off" required >
    </div>
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.state.datatosend.user.lastname' placeholder="Achternaam" autocomplete="off" required>
    </div>
    <div class="medium-6 columns">
        <input class='input--stnrd' type="email" ng-focus="contact.state.response.error = ''; contact.state.response.status = '';" ng-class="{'error': contact.state.response.error == 'email'}" ng-model='contact.state.datatosend.user.email' placeholder="E-mail" autocomplete="off" required>
    </div>
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.state.datatosend.user.rizivnumber' mask="9-99999-99-999" restrict="reject" placeholder="Risivnummer" autocomplete="off" required>
    </div>
  </div>
  <div class="row m-t-20">
    <div class="medium-6 columns">
        <input class='input--stnrd' name='password'  type="password" ng-model='contact.state.datatosend.user.password' placeholder="Wachtwoord" autocomplete="off" required >
    </div>
    <div class="medium-6 columns">
        <input  class='input--stnrd'  name='confirmPassword' data-match='contact.state.datatosend.user.password' type="password" ng-model='contact.state.datatosend.user.confirmPassword' placeholder="Bevestig wachtwoord" autocomplete="off" required>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="response-container">
        <div class="error-block callout" data-closable ng-class="{'error-block--slide-in': contact.state.response.status == 'error'}">
          <span class="error-block__message">##contact.state.response.message##</span>
        </div>
      </div>
    </div>
  </div>
</form>
