<form ng-if="contact.user.practiceStatus == 'new'" name='therapistPracticeInfoNewSignupForm' class="form-block__inner"  ng-cloak>
<!-- <form  name='therapistPracticeInfoNewSignupForm' class="form-block__inner" onload="loadCustomInputs()" ng-cloak>
  <div class="row">
    <div class="large-12 columns">
      <h2 class='t--semi-bold text-center'>Je bent bijna <span class='highlight highlight--color-1'>klaar</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>Kijk je gegevens nog even na. </h3>
    </div>
  </div>
  <div class="row m-b-40">
    <div class="form-block__confirmation-block large-12 columns">
      <div class="row" vertilize-container>
        <div class="form-block__confirmation-left columns large-6" vertilize>
          <h4 class='t--semi-bold'>Persoonlijk</h4>
          <span>Naam: <span>Steven Serrien</span></span>
          <span>Emailadres <span>stevenserrien@gmail.com</span></span>
          <span>Rizivnummer <span>34242423424</span></span>
        </div>
        <div class="form-block__confirmation-right columns large-6" vertilize>
          <h4 class='t--semi-bold'>Professioneel</h4>

        </div>
      </div>
    </div>
  </div>-->



</form>
