/* -- Mixins for transforms -- */
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
@mixin translateY ($y) {
   @include transform(translateY($y));
}

@mixin translateX ($x) {
   @include transform(translateX($x));
}

@mixin transition( $transition ) {
	-webkit-transition: -webkit-$transition;
  -moz-transition: -moz-$transition;
  -o-transition: -o-$transition;
  transition:	$transition;
}


@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow !important;
     -moz-box-shadow: $shadow !important;
          box-shadow: $shadow !important;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
		-webkit-animation-timing-function: linear;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
		animation-timing-function: linear;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow !important;
     -moz-box-shadow: $shadow !important;
          box-shadow: $shadow !important;
}


@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}
