
.top-bar {
  padding-left: 2.5rem; padding-right: 2.5rem;
}
.p-container {
  height: calc(100vh - 140px);
  width: calc(100% - 110px);
  margin: auto;
  position: relative;
  display: block;
  padding: 0;
  .p-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;

    .row {
      height: 100%;
    }
    &__inner {
      text-align: center;
      cursor: default;
      height: 100%;
      position: relative;

      &__item {
        position: absolute;
        width: 100%;
        h1, h2, h3, h4, h5 {
          font-size: 4.5rem;
          font-family: $jumbotron-font;
        }
      }
    }
    &--landing {
      background: url('../../img/l-background.svg') no-repeat;
      background-size: cover;
    }
  }
}

.p-jumbo, .p-smallbo {
  transition: all 0.2s;
}

.p-smallbo {
  font-family: $text-font;
}


.typed-cursor {
  display: none;
}

#typed {
  min-height: 200px;
}

.underlined {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    font-style: normal !important;
  }
}

a {
  &, &:focus, &:active, &:hover {
    color: inherit;
    text-decoration: none;
  }

}
