
.top-bar {
  padding-left: 2.5rem; padding-right: 2.5rem;
}
.p-container {
  height: calc(100vh - 140px);
  width: calc(100% - 110px);
  margin: auto;
  position: relative;
  display: block;
  padding: 0;
  .p-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: lighten;
    &--landing {
      background: url('../../img/l-background.svg') no-repeat;
      background-size: cover;
    }
  }
}
