// Margin top
.m-t-2 { margin-top: 2px; }
.m-t-5 { margin-top: 5px; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
.m-t-40 { margin-top: 40px; }
.m-t-60 { margin-top: 60px; }
.m-t-80 { margin-top: 80px; }
.m-t-90 { margin-top: 90px; }
.m-t-100 { margin-top: 100px; }
.m-t-120 { margin-top: 120px; }

// Margin bottom
.m-b-5 { margin-bottom: 5px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-40 { margin-bottom: 40px; }
.m-b-30 { margin-bottom: 30px; }
.m-b-60 { margin-bottom: 60px; }
.m-b-80 { margin-bottom: 80px; }
.m-b-90 { margin-bottom: 90px; }
.m-b-120 { margin-bottom: 120px; }
.m-b-140 { margin-bottom: 140px; }
.m-b-150 { margin-bottom: 150px; }

// padding top
.p-t-2 { padding-top: 2px; }
.p-t-5 { padding-top: 5px; }
.p-t-10 { padding-top: 10px; }
.p-t-20 { padding-top: 20px; }
.p-t-40 { padding-top: 40px; }
.p-t-60 { padding-top: 60px; }
.p-t-80 { padding-top: 80px; }
.p-t-90 { padding-top: 90px; }
.p-t-100 { padding-top: 100px; }
.p-t-120 { padding-top: 120px; }

// padding bottom
.p-b-5 { padding-bottom: 5px; }
.p-b-10 { padding-bottom: 10px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-40 { padding-bottom: 40px; }
.p-b-30 { padding-bottom: 30px; }
.p-b-60 { padding-bottom: 60px; }
.p-b-80 { padding-bottom: 80px; }
.p-b-90 { padding-bottom: 90px; }
.p-b-100 { padding-bottom: 100px; }
.p-b-120 { padding-bottom: 120px; }
.p-b-140 { padding-bottom: 140px; }
.p-b-150 { padding-bottom: 150px; }


.f-row {
  max-width: 100% !important;
}
