/* Text Colors */
$font-color-main: #435062;
$font-color-sec: #a1a7b0;
$font-color-inverted: #FFFFFF;

$font-color-dark-1: #435062;
$font-color-dark-2: #3d3d3d;

$font-color-light-1: #cacaca;

$brand-color-1: #3b6ecc;
$brand-color-2: #e37774;
$brand-color-3: #fce289;

$brand-color-1--soft: #ffdee5;
$brand-color-2--soft: #ffdee5;

$confirmation-color: #ddf2bb;
