<!-- View for NEW Practice -->
<form ng-if="contact.user.practiceStatus == 'new'" name='therapistPracticeInfoNewSignupForm'  class="form-block__inner"  ng-cloak>
<!-- <form  name='therapistPracticeInfoNewSignupForm' class="form-block__inner"  ng-cloak> -->
  <div class="row">
    <div class="large-12 columns">
      <h2 class='t--semi-bold text-center'>Registratie van uw <span class='highlight highlight--color-1'>praktijk</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>We zetten hem meteen in het systeem. </h3>
    </div>
  </div>
  <div class="row m-b-40">
    <div class="large-12 columns">
      <div id="locationField">
      <input id="autocomplete" class='input--stnrd' placeholder="Vul je volledige adres in" ng-init='contact.googleHandlers.initAutocomplete()' type="text"></input>
      </div>
    </div>
  </div>
  <div id="address" class="row  medium-collapse">
    <div class="large-5 columns">
      <div class="row">
        <div class="medium-12 columns">
            <input id='name' class='input--stnrd' type="text" ng-focus="contact.state.response.error == 'practicename'? contact.state.response = '':false" ng-model='contact.state.datatosend.practice.name' ng-class="{'error': contact.state.response.error == 'practicename'}" placeholder="Praktijknaam" autocomplete="off" required >
        </div>
        <div class="medium-12 columns">
            <input id='telephone' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.telephone' placeholder="Telefoonnummer" autocomplete="off" restrict="reject" mask="(99)99 99 99 99" required >
        </div>
      </div>
    </div>
    <div class="large-7 columns">
      <div class="medium-8 columns">
          <input id='route' class='input--stnrd' type="text" ng-focus="contact.state.response.error == 'practicelocation'? contact.state.response = '':false"ng-model='contact.state.datatosend.practice.route' ng-class="{'error': contact.state.response.error == 'practicelocation'}" placeholder="Straatnaam" autocomplete="off" required >
      </div>
      <div class="medium-4 columns">
          <input id='street_number' class='input--stnrd' type="text" ng-focus="contact.state.response.error == 'practicelocation'? contact.state.response = '':false" ng-model='contact.state.datatosend.practice.street_number' ng-class="{'error': contact.state.response.error == 'practicelocation'}" placeholder="Nr." autocomplete="off" required >
      </div>
      <div class="medium-6 columns">
          <input id='locality' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.locality' placeholder="Gemeente" autocomplete="off" required >
      </div>
      <div class="medium-6 columns">
          <input id='postal_code' class='input--stnrd' type="text" ng-model='contact.state.datatosend.practice.postal_code' placeholder="Zipcode" autocomplete="off" required >
      </div>
    </div>

  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="response-container">
        <div class="error-block callout" data-closable ng-class="{'error-block--slide-in': contact.state.response.status == 'error'}">
          <span class="error-block__message">##contact.state.response.message##</span>
        </div>
      </div>
    </div>
  </div>




<!-- View for EXISTING Practice -->
</form>
<form ng-if="contact.user.practiceStatus == 'existing'" ng-init='contact.events.fillDropdownExistingPractices()' name='therapistPracticeInfoExistingSignupForm' ng-init='contact.events.fillDropdownExistingPractices()' class="form-block__inner"  ng-cloak>
  <div class="row">
    <div class="large-12 columns">
      <h2 class='t--semi-bold text-center'>Kies uw bestaande <span class='highlight highlight--color-1'>praktijk</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>Zo koppelen we hem aan jouw account. </h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-centered columns">
      <so-dropdown class='cst-dropdown cst-dropdown--full-w'  ng-change="contact.handlers.getPracticeById();" ng-model="contact.state.selectedPractice.index" placeholder='Selecteer de praktijk waar je werkt.' dropdown-items="contact.state.practicesFromDB">
        <option value='None'>None</option>
      </so-dropdown>
    </div>

  </div>
  <div class="row  m-t-40">
    <div class="medium-10 small-centered columns">
      <div class="row medium-collapse">
        <div class="large-6 columns">
          <div class="row">
            <div class="medium-12 columns">
                <input class='input--stnrd' type="text" ng-disabled='true' ng-model='contact.state.datatosend.existingPractice.name'  placeholder="Praktijknaam" autocomplete="off" required >
            </div>
            <div class="medium-12 columns">
                <input  class='input--stnrd' type="text" ng-disabled='true' ng-model='contact.state.datatosend.existingPractice.telephone' placeholder="Telefoonnummer" autocomplete="off" required >
            </div>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="medium-8 columns">
              <input  class='input--stnrd' type="text" ng-disabled='true' ng-model='contact.state.datatosend.existingPractice.streetname' placeholder="Straatnaam" autocomplete="off" required >
          </div>
          <div class="medium-4 columns">
              <input  class='input--stnrd' type="text" ng-disabled='true' ng-model='contact.state.datatosend.existingPractice.housenumber' placeholder="Nr." autocomplete="off" required >
          </div>
          <div class="medium-6 columns">
              <input class='input--stnrd' type="text" ng-disabled='true' ng-model='contact.state.datatosend.existingPractice.locality' placeholder="Gemeente" autocomplete="off" required >
          </div>
          <div class="medium-6 columns">
              <input  class='input--stnrd' type="text" ng-disabled='true' ng-model='contact.state.datatosend.existingPractice.postal_code' placeholder="Zipcode" autocomplete="off" required >
          </div>
        </div>
      </div>
    </div>


  </div>
</form>
