<form name='therapistPersonalSignupForm' class='form-block__inner' >
  <div class="row">
    <div class="large-12 columns">

      <h2 class='t--semi-bold text-center'>Helemaal <span class='highlight highlight--color-1'>klaar</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>Wij hebben uw aanvraag tot een account ontvangen</h3>
    </div>
  </div>
  <div class="form-block__confirmation-block row">
    <div class=" large-6 columns">
      <h4 class='t--semi-bold'>Leuk je er bij te hebben!</h4>
      <p class='t--lightest'>Om te zorgen dat we <span class='t--semi-bold'>enkel logopedisten</span> toegang geven, moeten we wel eerst jouw gegevens even nakijken. Je ontvang een <span class='t--semi-bold'>email</span>, zodra je account is <span class='t--semi-bold'>goedgekeurd.</span></p>

      <a href="/" target="_self" class='btn btn--frm m-t-20'>home</a>
      
    </div>

    <div class="large-6 columns">

    </div>
  </div>
</form>
