
<form name='therapistPersonalSignupForm' class='form-block__inner' >
  <div class="row">
    <div class="large-12 columns">
      <!-- ##contact.state.currentTemplate.index + 1## -->
      <h2 class='t--semi-bold text-center'>Registratie voor <span class='highlight highlight--color-1'>logopediste</span> </h2>
      <h3 class='t--regular t--lightest m-b-60 text-center'>Uw persoonlijke gegevens </h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.user.firstname' placeholder="Voornaam" autocomplete="off" required >
    </div>
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.user.lastname' placeholder="Achternaam" autocomplete="off" required>
    </div>
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.user.email' placeholder="E-mail" autocomplete="off" required>
    </div>
    <div class="medium-6 columns">
        <input class='input--stnrd' type="text" ng-model='contact.user.risivnumber' placeholder="Risivnummer" autocomplete="off" required>
    </div>
  </div>


</div>
</form>
