<form name=''class="form-block__inner" action="index.html" method="post">
  <div class="row">
    <div class="large-12 columns">
      <h3 class='t--regular t--lightest m-b-60 m-t-60'>Praktijkgegevens</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <input type="radio" name="practiceChoice" value="" id="cu-newpractice" required><label for="cu-newpractice">Nieuwe praktijk registreren</label>
    </div>
    <div class="large-6 columns">
      <input type="radio" name="practiceChoice" value="Yellow" id="cu-existingpractice"><label for="cu-existingpractice">Mijn praktijk staat al geregistreerd</label>
    </div>
  </div>
</form>
